#agenda ul {
    width: 500px;
    float: left;
}
 
#agenda img {
    width: 300px;
    float: right;
}
 
#howitworks h1 {
    margin-top: 80px;
}
 
#howitworks ul {
    width: 500px;
    float: left;
}
 
#howitworks img {
    width: 300px;
    float: right;
}
 
#workflow h2 {
    margin-top: 80px;
}
 
#workflow ul {
    width: 400px;
    float: left;
}
 
#workflow pre {
    width: 450px;
    float: right;
}
 
#appcnews h2 {
    margin-top: 80px;
}
 
#appcnews ul {
    width: 600px;
    float: left;
    margin-top: 50px;
}
 
#appcnews img {
    width: 250px;
    float: right;
}
/*
	SELECTORS FOR PRESENTATION NOTES
*/
#appclogo {
	/* ICON/BUTTON IN SLIDESHOW */
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 90px;
	height: 50px;
}
#presenternotes {
	/* ICON/BUTTON IN SLIDESHOW */
	position: absolute;
	bottom: 32px;
	left: 125px;
	width: 36px;
	height: 36px;
}
.slidenote {
	/* HIDES PRESENTER NOTES IN THE SLIDESHOW ITSELF */
	display:none;
}
@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
#presenter {
	/* CONTROLS TEXT OUTPUT IN THE PRESENTER NOTES WINDOW */
	margin:5px 10px;
	font-size: 0.65em !important;
	font-family: 'Open Sans';
}
.nestedarrow {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom:0;
	left:50%;
	margin: 0;
	background: rgba(0,0,0,0) !important;
	border: 0px !important;
}
.nestedarrow img {
	margin: 0;
	background: rgba(0,0,0,0) !important;
	border: 0px !important;
	width: 50px;
	height: 50px;
	
}

/*
	TRAINING SPECIFIC OVERRIDES OF DEFAULT TITAN/REVEAL CSS CLASSES
*/

#reveal .controls a {
	opacity: 0.25 !important;
}
#reveal .controls a.enabled {
	color: #9A0707 !important;
	opacity: 0.6 !important;
}
#reveal .progress span {
	background: #9A0707 !important;
}
#reveal h1, #reveal h2, #reveal h3 {
    text-transform: none;
    font-variant: small-caps;
}

/* FOR THE LAB SLIDES */
#labwrapper a:not(.image) {
	text-decoration:underline;
}
#labwrapper ul {
	margin-left:30px;
}
#labwrapper h1 {
	font-size: 2.75em;
}
#labwrapper h2 {
	font-size: 2.5em;
}
#labwrapper {
	margin: 0 30px;
	font-size: 0.6em;
	line-height: 1.25em;
	text-align: left !important;
	overflow: scroll;
	height: 120%;
	width: 800px;
}
#labwrapper table {
	border: 0;
	width: 90%;
	margin: 0 30px;
}
.tdfiller {
	width: 80px;
}
.labinstructions {
	padding-left:24px;
	text-indent:-24px;
}
.labexplanations {
	font-style: italic;
	padding-bottom: 20px;
}
